@font-face
{
  font-family: Lato;
  src: url('../fonts/Lato.ttf');
}

@font-face
{
  font-family: Consolas;
  src: url('../fonts/Consolas.ttf');
}

body {
  background: url(../img/background.jpg);
}

.page-header {
  height: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);  
}

.page-header h1 {
  display: inline-block;
  font-family: Consolas;
  font-size: 54px;
  /*font-weight: bold;*/
  color: #fff;
  margin-left: 20px;
}

#logo {
  position: relative;
  top: -13px;
}