@font-face
{
  font-family: Lato;
  src: url('../fonts/Lato.ttf');
}

@font-face
{
  font-family: Consolas;
  src: url('../fonts/Consolas.ttf');
}

body {
  background: url(../img/background.jpg);
}

.page-header {
  height: 256px;
  min-width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.6);  
}

.page-header h1 {
  display: inline-block;
  font-family: Consolas;
  font-size: 54px;
  color: #fff;
  position: relative;
}

.page-header p {
  font-size: 18px;
  font-family: Consolas;
  color: #666;
  font-style: italic;
}

#logo {
  display: inline-block;
  height: 256px;
  width: 256px;
  position: relative;
  top: -13px;
  background: url(../img/logo.png);
}

.label-pool {
  height: 256px;
}

.label-pool .label {
  font-size: 16px;
  line-height: 32px;
}

.label-pool .label:hover {
  cursor: pointer;
}

.label-pool .label.active {
  font-size: 32px;
}

#above-head {
  width: 384px;
  height: 384px;
  position: absolute;
  left: calc(50% - 576px);
  overflow: hidden;
  display: hidden;
}

#above-head.slide-in {
  display: inline-block;
  z-index: 1;
}

#above-head a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/cohort.png);
  background-size: 100% 100%;
  right: -384px;
  opacity: 0;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

#above-head.slide-in a {
  right: 0px;
  opacity: 1;
  z-index: 1;
}

#above-content {
  width: 768px;
  height: 384px;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  right: calc(50% - 576px);
  display: hidden;
  opacity: 0;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

#above-content.slide-in {
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

#above-content .repo-desc {
  color: #eee;
  font-family: Consolas;
  font-style: italic;
  font-size: 24px;
  padding: 20px 10px;
}

#above-content .btn-return {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #fff;
  background-color: #007fff;
}

#above-content .btn-return:hover {
  cursor: pointer;
}

#js-nutrients {
  margin-left: calc(50% - 576px);
}

#js-nutrients td {
  width: 128px;
  height: 128px;
}

#js-nutrients td a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size:100% 100%;
  position: relative;
  left: 0px;
  opacity: 1;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

#js-nutrients td a.slide-out {
  left: -128px;
  opacity: 0;
}

#js-nutrients td a.masked {
  background-image: none;
  background-color: transparent;
}

#angularjs {
  background-image: url(../img/angularjs.png);
  background-color: rgba(44,44,44,0.7);
}
#backbonejs {
  background-image: url(../img/backbone.js.png);
  background-color: #fff;
}
#bootstrap {
  background-image: url(../img/bootstrap.png);
  background-color: rgba(92,66,131,0.3);
}
#bower {
  background-image: url(../img/bower.png);
  background-color: rgba(255,204,47,0.7);
}
#cohort {
  background-image: url(../img/cohort.png);
}
#cordova {
  background-image: url(../img/cordova.png);
  background-color: rgba(255,255,255,0.3);
}
#css3 {
  background-image: url(../img/css3.png);
  background-color: rgba(53,156,214,0.3);
}
#es6 {
  background-image: url(../img/es6.png);
  background-color: #fff;
}
#grunt {
  background-image: url(../img/grunt.png);
  background-color: rgba(251,169,25, 0.3);
}
#handlebars {
  background-image: url(../img/handlebars.png);
  background-color: #fff;
}
#html5 {
  background-image: url(../img/html5.png);
  background-color: rgba(241,101,41,0.3);
}
#ionic {
  background-image: url(../img/ionic.png);
  background-color: #fff;
}
#jquery {
  background-image: url(../img/jquery.png);
  background-color: rgba(7,105,173,0.3);
}
#jquery-mobile {
  background-image: url(../img/jquery-mobile.png);
  background-color: rgba(16,128,64,0.3);
}
#jquery-ui {
  background-image: url(../img/jquery-ui.png);
  background-color: rgba(178,73,38,0.3);
}
#json-loop {
  background-image: url(../img/json-loop.png);
}
#nodejs {
  background-image: url(../img/nodejs.png);
  background-color: rgba(51,51,51,0.7);
}
#lawe {
  background-image: url(../img/lawe.png);
}
#meanjs {
  background-image: url(../img/mean.js.png);
  background-color: #fff;
}
#meteor-cantas {
  background-image: url(../img/meteor-cantas.png);
}
#mocha {
  background-image: url(../img/mocha.png);
  background-color: rgba(134,100,71,0.3);
}
#my-concerns {
  background-image: url(../img/my-concerns.png);
}
#qunit {
  background-image: url(../img/qunit.png);
  background-color: rgba(57,15,57,0.5);
}
#reactjs {
  background-image: url(../img/reactjs.png);
  background-color: rgba(34,34,34,0.7);
}
#requirejs {
  background-image: url(../img/require.js.png);
}
#ueis {
  background-image: url(../img/ueis.png);
}
#yeoman {
  background-image: url(../img/yeoman.png);
  background-color: #fff;
}
#mongodb {
  background-image: url(../img/mongodb.png);
  background-color: rgba(64,40,23,0.7);
}
#karma {
  background-image: url(../img/karma.png);
  background-color: #fff;
}
#less {
  background-image: url(../img/less.png);
  background-color: rgba(29,54,93,0.3);
}
#meteor {
  background-image: url(../img/meteor.png);
  background-color: #fff;
}